<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>即刻-BOOKPLANTの营地</title>
  <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
  <link rel="stylesheet" href="../../static/css/lib/editormd/css/editormd.min.css"
        th:href="@{/css/lib/editormd/css/editormd.min.css}">
  <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
  <link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon" th:href="@{/favicon.ico}">
  <link rel="stylesheet" href="../../static/css/blogs-input/blog-input.css" th:href="@{/css/blogs-input/blog-input.css}">
</head>
<body class="blogsBody">

<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)" class="gird-header box-shadow-bottom">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item" style="font-weight: bold;font-family: STSong;"><a
        style="color: #00B5AD; font-size: 24px" href="#">管理后台</a></h2>
      <a href="/templates/admin/blogs" class="m-item item m-mobile-hide active"><i class="book icon"></i>文章</a>
      <a href="/templates/admin/types" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
      <a href="/templates/admin/tags" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
      <a href="/" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image" src="http://m.imeitou.com/uploads/allimg/2020031310/d2yvmvd5wel.jpeg">
            <span>郝捷</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="/templates/admin/logout" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>
<!--顶部图片-->
<div class="m-bg-type_outer box-shadow-bottom" style="width: 100%;height: 40%">
  <img src="https://pic.imgdb.cn/item/617d7a032ab3f51d91c1d5ad.jpg" alt="" class="ui m-bg image"
       style="width: 100%;height: 100%">
  <div class="m-bg-class_cover">
    <div class="ui container" style="position: relative ;bottom: -540px;">
      <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">文章发布</div>
      <div class="m-font-size-text-init-title m-margin-top" align="center">繁星闪烁着——深蓝的太空何曾听得见它们对话？沉默中微光里它们深深的互相颂赞了</div>
    </div>
  </div>
</div>

<!--中间内容-->
<div  class="m-container-middle m-padded-tb-big m-opacity">
  <div class="ui container">
    <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">
      <input type="hidden" name="published" th:value="*{published}">
      <input type="hidden" name="id" th:value="*{id}">
      <div class="box-shadow-maxs" style="margin-bottom: 15px">
        <div class="required field">
          <div class="ui left labeled input">
            <div class="ui selection compact teal basic dropdown label">
              <input type="hidden" value="原创" name="flag" th:value="*{flag}" >
              <i class="dropdown icon"></i>
              <div class="text">原创</div>
              <div class="menu">
                <div class="item" data-value="原创">原创</div>
                <div class="item" data-value="转载">转载</div>
                <div class="item" data-value="翻译">翻译</div>
              </div>
            </div>
            <input type="text" name="title" placeholder="标题" th:value="*{title}">
          </div>
        </div>
      </div>

      <div class="box-shadow-maxs">
        <div class="ui attached pointing menu m-opacity">
          <div class="ui container">
            <div class="right menu">
              <a href="#" th:href="@{/admin/blogs/input}" class="teal active item">发布</a>
              <a href="#" th:href="@{/admin/blogs}" class="item">列表</a>
            </div>
          </div>
        </div>
      </div>

      <div class="box-shadow-maxs">
        <div class="required field">
          <div id="md-content" style="z-index: 1 !important;">
            <textarea placeholder="博客内容" name="content" style="display: none" th:text="*{content}"></textarea>
          </div>
        </div>
      </div>

      <div class="two fields">
        <div class="required field">
          <div class="ui left labeled action input">
            <label class="ui compact teal basic label">分类</label>
            <div class="ui fluid selection dropdown">
              <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
              <i class="dropdown icon"></i>
              <div class="default text">分类</div>
              <div class="menu">
                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
              </div>
            </div>
          </div>
        </div>
        <div class=" field">
          <div class="ui left labeled action input">
            <label class="ui compact teal basic label">标签</label>
            <div class="ui fluid selection multiple search  dropdown">
              <input type="hidden" name="tagIds" th:value="*{tagIds}" >
              <i class="dropdown icon"></i>
              <div class="default text">标签</div>
              <div class="menu">
                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-shadow-maxs">
        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">首图</label>
            <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址">
          </div>
        </div>
      </div>

      <div class="box-shadow-maxs">
        <div class="required field">
          <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
        </div>
      </div>

      <div class="inline fields" style="margin-top: 40px">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="recommend" name="recommend" checked th:checked="*{recommend}" class="hidden">
            <label for="recommend">推荐</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden">
            <label for="shareStatement">转载声明</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">
            <label for="appreciation">赞赏</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="commentabled" name="commentabled" th:checked="*{commentabled}" class="hidden">
            <label for="commentabled">评论</label>
          </div>
        </div>
      </div>

      <div class="box-shadow-maxs">
        <div class="ui error message"></div>
      </div>


      <div class="ui textBtn container" style="margin-top: -30px">
        <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
        <button type="button" id="save-btn" class="ui secondary button">保存</button>
        <button type="button" id="publish-btn" class="ui teal button">发布</button>
      </div>

    </form>
  </div>
</div>
<!--置顶图标-->
<div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
  <a href="#" class="ui center aligned basic segment icon">
    <svg class="iconDiy" aria-hidden="true">
      <use xlink:href="#icon-huojian"></use>
    </svg>
  </a>
</div>
<br>
<br>
<!--底部footer-->
<div th:replace="_fragments :: footer" class="box-shadow-maxs">
  <footer class="ui inverted vertical segment m-padded-tb-massive m-opacity " style="z-index: -1;">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../../static/images/index/wechat.png" class="ui rounded image" alt=""
                   th:src="@{/images/index/wechat.png}"
                   style="width: 110px">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
          <div id="newblog-container">
            <div class="ui inverted link list">
              <a href="#" target="_blank" class="item m-text-thin">用户故事（User Story）</a>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
          <div class="ui inverted link list">
            <p  class="m-text-thin m-text-spaced m-opacity-mini">QQ：1418196508</p>
            <p class="m-text-thin m-text-spaced m-opacity-mini">微信：haojie3826</p>
            <p  class="m-text-thin m-text-spaced m-opacity-mini">手机：19113685254</p>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">南柯一梦的博客</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">
            👋 励志成为一名优秀的前端程序员</p>
          <p class="m-text-thin m-text-spaced m-opacity-mini">👀 热衷于编写集成式项目，享受coding</p>
          <p class="m-text-thin m-text-spaced m-opacity-mini">🌱 PS\PR\EOS80D</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 - <span>2022</span> NanKe Designed by
        HaoJie
      </p>
    </div>

  </footer>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../../static/css/lib/editormd/editormd.min.js" th:src="@{/css/lib/editormd/editormd.min.js}"></script>
<script>
  $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
  //初始化Markdown编辑器
  var contentEditor;
  $(function() {
    contentEditor = editormd("md-content", {
      width   : "100%",
      height  : 640,
      syncScrolling : "single",
      path    : "/css/lib/editormd/lib/"
    });
  });
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

  $('#save-btn').click(function () {
    $('[name="published"]').val(false);
    $('#blog-form').submit();
  });


  $('#publish-btn').click(function () {
    $('[name="published"]').val(true);
    $('#blog-form').submit();
  });



  $('.ui.form').form({
    fields : {
      title : {
        identifier: 'title',
        rules: [{
          type : 'empty',
          prompt: '标题：请输入博客标题'
        }]
      },
      content : {
        identifier: 'content',
        rules: [{
          type : 'empty',
          prompt: '标题：请输入博客内容'
        }]
      },
      typeId : {
        identifier: 'type.id',
        rules: [{
          type : 'empty',
          prompt: '标题：请输入博客分类'
        }]
      },
      firstPicture : {
        identifier: 'firstPicture',
        rules: [{
          type : 'empty',
          prompt: '标题：请输入博客首图'
        }]
      },
      description : {
        identifier: 'description',
        rules: [{
          type : 'empty',
          prompt: '标题：请输入博客描述'
        }]
      }
    }
  });
</script>
</body>
</html>
